{% extends "base.html" %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <table class="table table-striped">
        
        <tr>
            <td>
                主播
            </td>
            <td>
                标题
            </td>
            <td>
                人数
            </td>
            <td>
                地址
            </td>
        </tr>
        {%for info in infolist%}
        <tr>
            <td>
                {{info.name}}
            </td>
            <td>
                {{info.title}}
            </td>
            <td>
                {{info.count}}
            </td>
            <td>
                <a href="{{info.url}}">传送门</a>
            </td>
        </tr>
        {%endfor%}
    </table>
</div>
{% endblock %}
